<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1">
    <test verbose="2" preserve-order="true" name="test1">
        <parameter name="page" value="2"></parameter>
        <classes>
            <class name="com.example.testcase.RequestMethodTest2">
            </class>
        </classes>
    </test>
</suite>